*~
*.com
*.class
*.db
*.dll
*.exe
*.ini
*.lock
*.log
*.mm
*.o
*.phar
*.so
*.sql
*.sqlite
*.yml

.cvs
.DS_Store
.DS_Store*
.git
.htaccess
.project
.sass-cache
.settings
.svn
.sync
.Trash
.Trash-*

psds
psds/
tests
tests/

copy.sh
access_log
error_log
license.txt
phpunit.xml
readme.html